.slide-container{
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto; 
    overflow: hidden;
    text-align: center;
    /* 目测类似于遮罩功能，用于遮挡图片，以起到按完点后能切换到下一张图而不会显示上一张的图 */
}
.image-container{
    width: 1000px;
    height: 300px;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    /* 貌似作用于图片的位置，不知为何选择900px之后第三张图片会往下移动，1000px就不会，猜测是位置没有预留直接跳转到下一行了 */
    /* 又经过试验，width：910px图片仍然在第一行，大概可用于压缩幕布大小，从而让图片每行只有一张的效果 */
}
.slider-image{
    float: left;
    margin: 0px;
    padding: 0px;
    /* 尚不明白 */
}
.button-container {
    top: -20px;
    /* 上面这个函数，控制“点”的高度 */
    position: relative;
}
.slider-button {
display: inline-block;
height: 20px;
width: 20px;
/* 点的宽高 */
border-radius: 50px;
/* 控制点的光滑度 */
background-color: black;
/* 改变点的颜色 */
}
#slider-image-1:target ~ .image-container{
    left: -50px;
}
#slider-image-2:target ~ .image-container{
    left: -350px;
}
#slider-image-3:target ~ .image-container{
    left: -650px;
}
/* 这三段代码控制按点之后的位移距离 */
/*  */